.thumbnail{
    width: 300px;
    object-fit: contain;
}
.search-bar{
    font-size:20px;
    margin-left: 12px;
    display: block;
}
.vedio-title{
    width: 300px;
    font-weight: bold;
}
.vedio-preview{
    width:300px;
    display: inline-block;
    vertical-align: top;
    margin-right:20px;
}